{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": 0
  }
}