version: '3'

services:
  wp:
    depends_on:
    - mysql
    image: wordpress:php7.2-fpm-alpine
    environment:
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA:
        define('FORCE_SSL_ADMIN', false);
    volumes:
      - wp_data:/var/www/html
      - ./likecoin:/var/www/html/wp-content/plugins/likecoin

  mysql:
    image: mysql:5
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: wordpress

  nginx:
    depends_on:
    - wp
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
      - wp_data:/var/www/html
      - ./likecoin:/var/www/html/wp-content/plugins/likecoin
      
volumes:
  mysql_data:
    driver: local
  wp_data:
    driver: local
