body {
	margin: 0;

	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		"Courier New",
		monospace;
}

section {
	display: block;

	padding: 0 10px;
}

input {
	margin: 0 1px;

	font-size: 14px;
}

h4 {
	display: block;

	margin: 1.33em 0;

	font-size: 1em;
	font-weight: 600;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

img {
	border: none;
}

div {
	display: block;

	outline: 0;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 0;
	padding: 16px;

	white-space: nowrap;
}

.optionTitle {
	padding: 20px 10px 20px 0;
}

.optionDetails {
	padding: 15px 10px;

	color: black;

	font-weight: normal;
}

.likecoinTable th {
	height: 40px;
	padding: 0 14px;

	vertical-align: middle;

	background: white;

	font-size: 14px;
	font-weight: 600;
}

.likecoinTable td {
	height: 64px;
	padding: 8px 14px;

	font-size: 14px;
}

.form-table {
	clear: both;

	width: 100%;
	margin-top: 0.5em;

	border-collapse: collapse;
}

.form-table td {
	font-size: 14px;
	line-height: 1.3;
}

table {
	display: table;

	box-sizing: border-box;

	border-spacing: 2px;

	text-indent: initial;

	border-collapse: separate;
	border-color: grey;
}

.likecoinSubmitButton {
	min-width: 256px;
	padding: 8px 16px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	color: white;
	border: 0;
	background-color: #28646e;

	font-size: 24px;
}

.avatarWrapper {
	display: flex;
	align-items: center;
	flex: 1;
}

.notice-success {
	border-left-color: #46b450 !important;
}

.notice-error {
	border-left-color: #dc3232 !important;
}

.is-dismissable {
	position: relative;

	padding-right: 38px;
}

.notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;

	margin: 0;
	padding: 9px;

	cursor: pointer;

	color: #72777c;
	border: none;
	background: 0 0;
}

.screen-reader-text {
	position: absolute;

	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	word-wrap: normal !important;

	border: 0;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

.likecoin {
	font-family:
		"Open Sans",
		"Source Sans Pro",
		"Noto Sans",
		"Microsoft JhengHei",
		Arial,
		sans-serif;
}

.likecoin h3 {
	color: #462405;
}

.likecoin a {
	color: #28646e;
}

.likecoin section {
	padding: 0 10px;
}

.likecoin .links {
	float: right;
}

.likecoin .icon svg {
	float: right;

	width: 22px;
	height: 22px;

	color: #737373;
	fill: currentColor;
}

.likecoin .likecoinButton {
	min-width: 256px;
	padding: 8px 16px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	color: white;
	border: 0;
	background-color: #28646e;

	font-size: 24px;
}

.likecoin .centerContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.likecoin.optionsSection .changeBtn {
	cursor: pointer;
	text-decoration: underline;

	font-size: 12px;
}

.likecoin .previewSection {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	padding: 20px 40px;

	color: #d8d8d8;
	background: white;
}

.likecoin .previewSection span {
	margin: 20px 0;
}

.likecoin .likecoinId {
	text-decoration: none;

	color: #4a90e2;

	font-size: 14px;
	font-weight: 600;
}

/* LikeCoin ID table*/

.likecoin .likecoinTable {
	border: solid 1px #e6e6e6;
	background: #f9f9f9;
}

.likecoin .likecoinTable .avatarWrapper {
	display: flex;
	align-items: center;
	flex: 1;
}

.likecoin .likecoinTable tr {
	white-space: nowrap;

	border: solid 1px #e6e6e6;
}

.likecoin .likecoinTable th {
	height: 40px;
	padding: 0 14px;

	vertical-align: middle;

	background: white;

	font-size: 14px;
	font-weight: 600;
}

.likecoin .likecoinTable td {
	height: 64px;
	padding: 8px 14px;

	font-size: 14px;
}

.likecoin .likecoinTable td.actions {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 0;
	padding: 16px;

	white-space: nowrap;
}

.likecoin .likecoinTable td.actions .actionWrapper {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: center;

	height: 48px;

	border-right: solid 1px #d8d8d8;
	border-left: solid 1px #d8d8d8;
}

.likecoin .likecoinTable td.actions a {
	cursor: pointer;
	text-align: center;
	text-decoration: none;

	font-weight: 600;
}

/* NOTE: New CSS start here, all classes should prefix `lcp-` */

:root {
	--lcp-admin-panel-radius: 4px;
	--lcp-admin-panel-border-color: #ccc;
	--lcp-admin-header-color: #fff;
	--lcp-color-gray-dark: #4a4a4a;
	--lcp-color-gray-medium: #9b9b9b;
	--lcp-color-like-green: #28646e;
	--lcp-color-like-green-dark: #2d4f57;
	--lcp-color-like-cyan-light: #aaf1e7;
	--lcp-color-red: #e35050;
}

.lcp-admin-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 20px;
		
	border: 1px solid var(--lcp-admin-panel-border-color);
	border-bottom: 0;
	border-top-left-radius: var(--lcp-admin-panel-radius);
	border-top-right-radius: var(--lcp-admin-panel-radius);
	background: var(--lcp-admin-header-color);
}

.lcp-admin-header__portfolio-button {		
	padding: 6px 14px;
	
	text-decoration: none;

	color: var(--lcp-color-dark-gray);

	border: 1px solid var(--lcp-color-gray-medium);
	border-radius: 9999px;
}

.lcp-admin-header__portfolio-button:hover {		
	color: var(--lcp-color-like-green);

	border-color: var(--lcp-color-like-green);
}

.lcp-admin-header__portfolio-button .dashicons {
	vertical-align: bottom;
}

.lcp-nav-tab-wrapper {
	padding: 0 15px;

	border-right: 1px solid var(--lcp-admin-panel-border-color);
	border-left: 1px solid var(--lcp-admin-panel-border-color);

	background: var(--lcp-admin-header-color);
}

.lcp-nav-tab-panel {
	padding: 10px 20px 20px;

	border: 1px solid var(--lcp-admin-panel-border-color);
	border-top: none;
	border-bottom-right-radius: var(--lcp-admin-panel-radius);
	border-bottom-left-radius: var(--lcp-admin-panel-radius);
}

.lcp-nav-tab-panel .button {
	color: var(--lcp-color-like-green);
	border-color: var(--lcp-color-like-green);
}

.lcp-nav-tab-panel .button.button-danger {
	color: var(--lcp-color-red);
	border-color: var(--lcp-color-red);
}

.lcp-nav-tab-panel .button.button-primary {
	color: var(--lcp-color-like-cyan-light);
	background: var(--lcp-color-like-green);
}

.lcp-nav-tab-panel .button.button-primary:hover {
	background: var(--lcp-color-like-green-dark);
}

.lcp-nav-tab-panel .wp-list-table td,
.lcp-nav-tab-panel .wp-list-table td img {
	vertical-align: middle;
}

.lcp-nav-tab-panel .wp-list-table td img {
	float: none;

	border-radius: var(--lcp-admin-panel-radius);
}

.lcp-github-sponsor-card {
	overflow: hidden;

	margin-top: 16px;

	border: 0;
	border-radius: 8px;
}
