version: 2
jobs:
  php_lint:
    working_directory: ~/likecoin-wordpress
    docker:
      - image: composer:1.6
    steps:
      - checkout
      - restore_cache:
          key: likecoin-wordpress-{{ .Environment.CACHE_UUID }}-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}
      - run:
          name: Install phpcs
          command: composer install
      - run:
          name: Install wp php standard
          command: |
            if [ ! -d ./wpcs ]; then
              git clone -b master https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git ./wpcs
            fi
            ./vendor/bin/phpcs --config-set installed_paths `pwd`/wpcs
      - run:
          name: Basic Lint Test
          command: ./vendor/bin/phpcs likecoin --standard=WordPress-Extra --extensions=php
      - run:
          name: Complete Lint Test
          command: ./vendor/bin/phpcs likecoin --standard=WordPress --extensions=php
      - save_cache:
          key: likecoin-wordpress-{{ .Environment.CACHE_UUID }}-{{ checksum "composer.json" }}-{{ checksum "composer.lock" }}
          paths:
            - ./vendor
            - ./wpcs
  eslint:
    working_directory: ~/likecoin-wordpress
    docker:
      - image: node:10
    steps:
      - checkout
      - restore_cache:
          key: likecoin-wordpress-{{ .Environment.CACHE_UUID }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
      - run:
          name: Dependencies
          command: npm install
      - run:
          name: Lint Test
          command: npm run lint
      - run:
          name: Build Test
          command: |
            cd likecoin/assets/js
            mv likecoin.es5.js likecoin.original.es5.js
            npm run build
            diff likecoin.es5.js likecoin.original.es5.js
      - save_cache:
          key: likecoin-wordpress-{{ .Environment.CACHE_UUID }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
  build_zip:
    working_directory: ~/likecoin-wordpress
    docker:
      - image: alpine:3.8
    steps:
      - run:
          name: Dependencies
          command: apk add git zip
      - checkout
      - run:
          name: Zip plugin
          command: zip -r likecoin.zip likecoin/
      - store_artifacts:
          path: ./likecoin.zip
workflows:
  version: 2
  build_and_test:
    jobs:
      - php_lint
      - eslint
      - build_zip:
          requires:
            - php_lint
            - eslint
