.likecoin {
  font-family: 'Open Sans', 'Source Sans Pro', 'Noto Sans', 'Microsoft JhengHei', Arial, sans-serif;
}

.likecoin h3 {
  color: #462405;
}

.likecoin a {
  color: #28646e;
}

.likecoin section {
  padding: 0 10px;

  border: 1px solid #f7f7f7;
}

.likecoin .icon svg {
  float: right;

  width: 22px;
  height: 22px;

  color: #737373;
  fill: currentColor;
}

.likecoin .likeCoinButton {

  min-width: 200px;

  padding: 8px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  color: white;

  background-color: #28646e;

  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

  font-size: 16px;
}

.likecoin.loginSection .webThreeError {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.likecoin.optionsSection .optionsContainer {
  display:flex;
}

.likecoin.optionsSection .changeBtn {
  cursor: pointer;
  text-decoration: underline;

  font-size: 12px;
}

.likecoin.optionsSection .label {

  margin: 20px 10px;

  color: #462814;

  font-size: 14px;
}

.likecoin.optionsSection .field {

  margin: 5px 0;

  font-size: 18px;
}

.likecoin.optionsSection .field a {
  text-decoration: none;
}

.likecoin.optionsSection .previewSection{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 20px 40px;

  color: #d8d8d8;
}


.likecoin.optionsSection .previewSection span{
  margin: 20px 0;
}

.likecoin #likecoinId {
  color: #28646e;
}
